# 

configure.public.uri.page\:server.webapp.url=${JTS_SITE_URL}/jts
configure.public.uri.page\:server.webapp.url.confirm=true

configure.database.page\:db.vendor=SQLSERVER
configure.database.page\:db.type=JDBC
configure.database.page\:db.jdbc.password=${DB_PASSWORD}
configure.database.page\:db.jdbc.location=${DB_SERVER};databaseName\=${DB_PREFIX}_jts;user\=${DB_PREFIX}_jtsDBuser;password\={password}

configure.email.page\:notification.mail.enabled=true
configure.email.page\:notification.mail.smtp.server=${SMTP_SERVER}
configure.email.page\:notification.mail.smtp.user=
configure.email.page\:notification.mail.smtp.password=
configure.email.page\:notification.mail.from=${SMTP_FROM_EMAIL}
configure.email.page\:notification.mail.from_name=Rational Team Concert
configure.email.page\:notification.mail.reply=${SMTP_REPLY_EMAIL}
configure.email.page\:notification.mail.smtp.server.port=${SMTP_PORT}
configure.email.page\:notification.mail.smtp.starttls=false
configure.email.page\:notification.mail.restrict_to_whitelist=${SMTP_WHITELIST}
configure.email.page\:notification.mail.whitelist=${SMTP_WHITELIST_PATTERN}

#data.warehouse.page\:db.net.port=1527
data.warehouse.page\:db.jdbc.location=${DB_SERVER};databaseName\=${DB_PREFIX}_dw;user\=${DB_PREFIX}_dwDBuser;password\={password};
data.warehouse.page\:db.jdbc.password=${DB_PASSWORD}
data.warehouse.page\:db.vendor=SQLSERVER
data.warehouse.page\:db.type=JDBC
data.warehouse.page\:db.base.folder=${DW_STORE_FOLDER}
data.warehouse.page\:report.user=${DB_PREFIX}_dwStoreDBuser


#user.registry.page\:user.registry.type=LIBERTY
#create.user.page\:name=limech
#create.user.page\:emailAddress=limech@gmail.com
#create.user.page\:password=${DB_PASSWORD}
#create.user.page\:userId=limech

# ==BEGIN LDAP Props==

# If you want LDAP instead of Tomcat User Registry, uncomment these LDAP props and
# comment out the Tomcat User Registry Props. Change the values as needed.


user.registry.page\:user.registry.type=LDAP
user.registry.page\:ldap.registryLocation=ldap\://${LDAP_SERVER}\:${LDAP_PORT}
user.registry.page\:ldap.groupMapping=JazzAdmins\=Jazz_Admins,JazzUsers\=Jazz_Users,JazzDWAdmins\=Jazz_DW_Admins,JazzProjectAdmins\=Jazz_Project_Admins,JazzGuests\=Jazz_Guests
user.registry.page\:ldap.registryPassword=${LDAP_PASSWORD}
user.registry.page\:ldap.registryUserName=${LDAP_USER}
user.registry.page\:ldap.membersOfGroup=member
user.registry.page\:ldap.baseGroupDN=OU\=Rational Team Concert,OU\=Applications,OU\=AD Administration,DC\=gdcan,DC\=com
user.registry.page\:ldap.userAttributesMapping=userId\=sAMAccountName,name\=cn,emailAddress\=mail
user.registry.page\:ldap.groupNameAttribute=cn
user.registry.page\:ldap.baseUserDN=DC\=gdcan,DC\=com
compute.LDAP.queries.step\:compute.LDAP.queries=true

# ==END LDAP Props==

admin.access\:ws.allow.admin.access=false


#register.applications.page\:jts.register.rm=true
#register.applications.page\:rm.discovery.url=${JTS_SITE_URL}/rm/scr
#register.applications.page\:rm.application.title=/rm

#register.applications.page\:jts.register.qm=true
#register.applications.page\:qm.discovery.url=${JTS_SITE_URL}/qm/scr
#register.applications.page\:qm.application.title=/qm

#register.applications.page\:jts.register.ccm=true
#register.applications.page\:ccm.discovery.url=${JTS_SITE_URL}/ccm/scr
#register.applications.page\:ccm.application.title=/ccm

register.applications.page\:jts.register.gc=true
register.applications.page\:gc.discovery.url=${JTS_SITE_URL}/gc/scr
register.applications.page\:gc.application.title=/gc

gc\:configure.database.page\:db.type=JDBC
gc\:configure.database.page\:db.vendor=SQLSERVER
gc\:configure.database.page\:db.jdbc.location=${DB_SERVER};databaseName\=${DB_PREFIX}_gc;user\=${DB_PREFIX}_gcDBuser;password\={password};
gc\:configure.database.page\:db.jdbc.password=${DB_PASSWORD}

gc\:data.warehouse.page\:db.jdbc.password=${DB_PASSWORD}
gc\:data.warehouse.page\:db.jdbc.location=${DB_SERVER};databaseName\=${DB_PREFIX}_dw;user\=${DB_PREFIX}_dwDBuser;password\={password};
gc\:data.warehouse.page\:db.type=JDBC
gc\:data.warehouse.page\:db.vendor=SQLSERVER

register.applications.page\:jts.register.ldx=true
register.applications.page\:ldx.discovery.url=${JTS_SITE_URL}/ldx/scr
register.applications.page\:ldx.application.title=/ldx

ldx\:configure.database.page\:db.type=JDBC
ldx\:configure.database.page\:db.vendor=SQLSERVER
ldx\:configure.database.page\:db.location=${DB_SERVER};databaseName\=${DB_PREFIX}_ldx;user\=${DB_PREFIX}_ldxDBuser;password\={password};
ldx\:configure.database.page\:db.password=${DB_PASSWORD}

ldx\:data.warehouse.page\:db.jdbc.password=${DB_PASSWORD}
ldx\:data.warehouse.page\:db.jdbc.location=${DB_SERVER};databaseName\=${DB_PREFIX}_dw;user\=${DB_PREFIX}_dwDBuser;password\={password};
ldx\:data.warehouse.page\:db.type=JDBC
ldx\:data.warehouse.page\:db.vendor=SQLSERVER

register.applications.page\:jts.register.lqe=true
register.applications.page\:lqe.discovery.url=${JTS_SITE_URL}/lqe/scr
register.applications.page\:lqe.application.title=/lqe

lqe\:configure.database.page\:db.type=JDBC
lqe\:configure.database.page\:db.vendor=SQLSERVER
lqe\:configure.database.page\:db.location=${DB_SERVER};databaseName\=${DB_PREFIX}_lqe;user\=${DB_PREFIX}_lqeDBuser;password\={password};
lqe\:configure.database.page\:db.password=${DB_PASSWORD}
a
lqe\:data.warehouse.page\:db.jdbc.password=${DB_PASSWORD}
lqe\:data.warehouse.page\:db.jdbc.location=${DB_SERVER};databaseName\=${DB_PREFIX}_dw;user\=${DB_PREFIX}_dwDBuser;password\={password};
lqe\:data.warehouse.page\:db.type=JDBC
lqe\:data.warehouse.page\:db.vendor=SQLSERVER


register.applications.page\:jts.register.relm=true
register.applications.page\:relm.discovery.url=${JTS_SITE_URL}/relm/scr
register.applications.page\:relm.application.title=/relm

relm\:configure.database.page\:db.type=JDBC
relm\:configure.database.page\:db.vendor=SQLSERVER
relm\:configure.database.page\:db.jdbc.location=${DB_SERVER};databaseName\=${DB_PREFIX}_relm;user\=${DB_PREFIX}_relmDBuser;password\={password};
relm\:configure.database.page\:db.jdbc.password=${DB_PASSWORD}

relm\:data.warehouse.page\:db.jdbc.password=${DB_PASSWORD}
relm\:data.warehouse.page\:db.jdbc.location=${DB_SERVER};databaseName\=${DB_PREFIX}_dw;user\=${DB_PREFIX}_dwDBuser;password\={password};
relm\:data.warehouse.page\:db.type=JDBC
relm\:data.warehouse.page\:db.vendor=SQLSERVER

register.applications.page\:jts.register.rs=true
register.applications.page\:rs.discovery.url=${JTS_SITE_URL}/rs/scr
register.applications.page\:rs.application.title=/rs

rs\:configure.database.page\:db.type=JDBC
rs\:configure.database.page\:db.vendor=SQLSERVER
rs\:configure.database.page\:db.jdbc.location=${DB_SERVER};databaseName\=${DB_PREFIX}_rs;user\=${DB_PREFIX}_rsDBuser;password\={password};
rs\:com.ibm.team.jrs.setupStep\:db.jdbc.password=${DB_PASSWORD}

register.applications.page\:jts.register.dcc=true
register.applications.page\:dcc.discovery.url=${JTS_SITE_URL}/dcc/scr
register.applications.page\:dcc.application.title=/dcc

dcc\:configure.database.page\:db.type=JDBC
dcc\:configure.database.page\:db.vendor=SQLSERVER
dcc\:configure.database.page\:db.jdbc.location=${DB_SERVER};databaseName\=${DB_PREFIX}_dcc;user\=${DB_PREFIX}_dccDBuser;password\={password};
dcc\:configure.database.page\:db.jdbc.password=${DB_PASSWORD}

dcc\:data.warehouse.page\:db.jdbc.password=${DB_PASSWORD}
dcc\:data.warehouse.page\:db.jdbc.location=${DB_SERVER};databaseName\=${DB_PREFIX}_dw;user\=${DB_PREFIX}_dwDBuser;password\={password};
dcc\:data.warehouse.page\:db.type=JDBC
dcc\:data.warehouse.page\:db.vendor=SQLSERVER
dcc\:data.warehouse.page\:db.base.folder=e\:\\\\${DB_PREFIX}
dcc\:data.warehouse.page\:report.user=${DB_PREFIX}_dwStoreDBuser

register.applications.page\:jts.nonlocal.application.number=0

### Licenses
license.assignment.page\:com.ibm.team.rtc.developer.activate.trial=true
license.assignment.page\:com.ibm.rqm.tester.activate.trial=true
license.assignment.page\:com.ibm.team.rrc.author.activate.trial=true
license.assignment.page\:com.ibm.xtools.dm.rhapsody.contributor.activate.trial=true
license.assignment.page\:com.ibm.xtools.dm.rhapsody.manager.activate.trial=true
license.assignment.page\:com.ibm.team.clm.stakeholder.activate.trial=true
license.assignment.page\:com.ibm.team.relm.user.activate.trial=true
license.assignment.page\:com.ibm.team.csm.user.activate.trial=true

license.assignment.page\:com.ibm.team.rtc.developer.agreement=true
license.assignment.page\:com.ibm.rqm.tester.agreement=true
license.assignment.page\:com.ibm.team.rrc.author.agreement=true
license.assignment.page\:com.ibm.xtools.dm.rhapsody.contributor.agreement=true
license.assignment.page\:com.ibm.xtools.dm.rhapsody.manager.agreement=true
license.assignment.page\:com.ibm.team.clm.stakeholder.agreement=true
license.assignment.page\:com.ibm.team.relm.user.agreement=true
license.assignment.page\:com.ibm.team.csm.user.agreement=true

license.assignment.page\:license.RationalTeamConcert=com.ibm.team.rtc.developer
license.assignment.page\:license.RationalQualityManager=com.ibm.rqm.tester
license.assignment.page\:license.RationalDOORSNextGeneration=com.ibm.team.rrc.author
license.assignment.page\:license.RationalRhapsodyDesignManager=com.ibm.xtools.dm.rhapsody.manager
license.assignment.page\:license.RationalsolutionforCollaborativeLifecycleManagement=com.ibm.team.clm.stakeholder
license.assignment.page\:license.RationalEngineeringLifecycleManager=com.ibm.team.relm.user
license.assignment.page\:license.CLMServerMonitoring=com.ibm.team.csm.user


#qm\:configure.database.page\:db.jdbc.location=${DB_SERVER};databaseName=${DB_PREFIX}_qm;user=${DB_PREFIX}_qmDBuser;password={password};
#qm\:configure.database.page\:db.vendor=SQLSERVER
#qm\:configure.database.page\:db.type=JDBC

#qm\:data.warehouse.page\:db.vendor=SQLSERVER
#qm\:data.warehouse.page\:db.type=JDBC
#qm\:data.warehouse.page\:db.jdbc.location=${DB_SERVER};databaseName=${DB_PREFIX}_dw;user=${DB_PREFIX}_dwDBuser;password={password};
#qm\:data.warehouse.page\:db.jdbc.password=${DB_PASSWORD}

#ccm\:configure.database.page\:db.type=JDBC
#ccm\:configure.database.page\:db.vendor=SQLSERVER
#ccm\:configure.database.page\:db.jdbc.location=${DB_SERVER};databaseName=${DB_PREFIX}_ccm;user=${DB_PREFIX}_cmmDBuser;password={password};

#ccm\:data.warehouse.page\:db.jdbc.password=${DB_PASSWORD}
#ccm\:data.warehouse.page\:db.jdbc.location=${DB_SERVER};databaseName=${DB_PREFIX}_dw;user=${DB_PREFIX}_dwDBuser;password={password};
#ccm\:data.warehouse.page\:db.type=JDBC
#ccm\:data.warehouse.page\:db.vendor=SQLSERVER



admin\:com.ibm.team.lpa.deploySampleStep\:lpa.deploy.MTM=true
