
configure.public.uri.page\:server.webapp.url=${JTS_SITE_URL}/jts
configure.public.uri.page\:server.webapp.url.confirm=true

register.applications.page\:jts.register.ccm=true
register.applications.page\:ccm.discovery.url=${CCM_SITE_URL}/ccm/scr
register.applications.page\:ccm.application.title=/ccm


ccm\:configure.database.page\:db.type=JDBC
ccm\:configure.database.page\:db.vendor=SQLSERVER
ccm\:configure.database.page\:db.jdbc.location=${DB_SERVER};databaseName=${DB_PREFIX}_ccm;user=${DB_PREFIX}_ccmDBuser;password={password};
ccm\:configure.database.page\:db.jdbc.password=${DB_PASSWORD}

ccm\:data.warehouse.page\:db.jdbc.password=${DB_PASSWORD}
ccm\:data.warehouse.page\:db.jdbc.location=${DB_SERVER};databaseName=${DB_PREFIX}_dw;user=${DB_PREFIX}_dwDBuser;password={password};
ccm\:data.warehouse.page\:db.type=JDBC
ccm\:data.warehouse.page\:db.vendor=SQLSERVER
ccm\:data.warehouse.page\:db.base.folder=${DW_STORE_FOLDER}
ccm\:data.warehouse.page\:report.user=${DB_PREFIX}_dwStoreDBuser



